<footer class="footer mt-3 py-3"> 
    <div class="container">
        
            <div class="row">
                <div class="col-md-4">
                    <p>TANIŞALIM</p>
                </div>
                <div class="col-md-8">
                    <form id="tanisma" action="https://formspree.io/f/xyylzeaz" method="post">
                        <fieldset class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Mail adresin">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" name="mesaj" placeholder="Mesajın"></textarea>
                        </fieldset>
                        <fieldset class="form-group text-xs-right">
                            <button type="submit" class="btn btn-outline-danger btn-lg">Gönder</button>
                            <!-- <div id="status" class="basarisiz">Başarılı</div> -->
                        </fieldset>
                    </form>
                </div>
            </div>

    </div>
</footer>
