<nav class="navbar navbar-expand-sm">
    <div class="container">
        <button style="background-color: white;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('egitim')">.egitim()</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('tecrube')">.tecrube()</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('faaliyet')">.faaliyet()</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollTo('yetenek')">.yetenek()</a>
                </li>
            </ul>
        </div>
    </div>
</nav>