/* @font-face {
    font-family: "FreePixel";
    src: local("FreePixel"), url(./assets/fonts/) format("truetype");
} */

html{
    background-color:beige!important;
}
body{
    background-color: transparent;
}
.m-5{
    background-color: blue;
}