/* @font-face {
    font-family: "FreePixel";
    src: local("FreePixel"), url(./assets/fonts/) format("truetype");
} */
/*siyah
1b1b1b

beyaz
f5f5f5

pembe
f50087

mor
8900ff

lacivert
001eff*/

body{
    background-color:#1b1b1b;
    cursor:default;
    caret-color: transparent;
}
.cursor{
    width: 20px;
    height: 20px;
    border: 1px solid yellow;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}
.info{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #f5f5f5;
}
hr{
    border-top: 10px dashed #f50087;
    border-radius: 10px;
    width: 20%;
}
.btn-outline-danger{
    color:#f5f5f5;
    border-color: #f50087 ;
}
.btn-outline-danger:hover, .btn-outline-danger:focus, 
.btn-outline-danger:active, .btn-outline-danger.active, 
.open>.dropdown-toggle.btn-outline-danger {
    border-color: #f50087 ;
    background-color: #f50087;
}
.card{
    background-color: #f5f5f5!important;
}
.card:hover{
    background-color: #f50087!important;
    color:#f5f5f5;
    transition: 0.2s;
}
.footer{
    background-color: #8900ff!important;
}
.row{
    margin-top:2rem;
}
.profile{
    text-align: right;
}
.profile-img{
    max-width: 80%;
}
img{
    filter:grayscale(100%);
}
img:hover{
    filter:grayscale(0%);
}
.social-media{
    width: 100%;
    list-style: none;
    text-align: right;
    margin-bottom: 0;
}
.social-media li{
    color:#f5f5f5;
    padding:1rem;
    display: inline-block;
    cursor:pointer;
}
.social-media li a:hover{
    color:#f50087;
    transition: 0.6s;
}
.social-media li a{
    color:#8900ff;
}
.section{
    scroll-margin-top: 60px;
}
.title {
    text-align: right;
}
.card{
    border:none;
}
h1{
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 1rem;
    
}
h2,h3{
    color:white;
    letter-spacing: 1rem;
    text-shadow: 4px 0 0 #001eff, -4px 0 0 #8900ff, 0 4px 0 #f50087;

}
h3{
    position: sticky;
    top:60px;
}
p,button,span{
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}
    
h2,h3,h4,h5,h6{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}
.skills img{
    max-width: 150px;
    padding:15px;
}
.gallery img{
    max-width:200px;
    padding:1rem;
}
.toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:#f50087;
}
.toTop:hover{
    color:#8900ff;
    transition: 0.6s;
}

@media only screen and (max-width:768px) {
    .profile{
        text-align: center;
    }
    .profile-img{
        max-width: 50%;
    }
    
}
@media only screen and (max-width:992px) {
    .social-media{
        text-align: center;
    }  
    
    .skills img{
        max-width: 110px;
        padding:10px;
    }
    #yetenek{
        text-align: center;
    }     
}